<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/static/css/table.css" type="text/css">
  </head>
<body>
<div class="wrapper">

  <h1>Order</h1>
  <div class="table">
    <div class="row header">
      <div class="cell">Order UID</div>
      <div class="cell">Track Number</div>
      <div class="cell">Entry</div>
      <div class="cell">Locale</div>
      <div class="cell">Internal Signature</div>
      <div class="cell">Сustomer ID</div>
      <div class="cell">Delivery Service</div>
      <div class="cell">Shardkey</div>
      <div class="cell">SM ID</div>
      <div class="cell">Date Created</div>
      <div class="cell">OOF Shard</div>
    </div>
    <div class="row">
      <div class="cell" data-title="Order UID">{{.UID}}</div>
      <div class="cell" data-title="Track Number">{{.TrackNumber}}</div>
      <div class="cell" data-title="Entry">{{.Entry}}</div>
      <div class="cell" data-title="Locale">{{.Locale}}</div>
      <div class="cell" data-title="Internal Signature">{{.InternalSign}}</div>
      <div class="cell" data-title="Сustomer ID">{{.CustomerID}}</div>
      <div class="cell" data-title="Delivery Service">{{.DeliverySvc}}</div>
      <div class="cell" data-title="Shardkey">{{.ShardKey}}</div>
      <div class="cell" data-title="SM ID">{{.SmID}}</div>
      <div class="cell" data-title="Date Created">{{.CreatedAt}}</div>
      <div class="cell" data-title="OOF Shard">{{.OOFShard}}</div>
    </div>

  <h2 class="with_indent">Delivery</h2>
  <div class="table">
    <div class="row header green">
      <div class="cell">Name</div>
      <div class="cell">Phone</div>
      <div class="cell">Zip</div>
      <div class="cell">City</div>
      <div class="cell">Address</div>
      <div class="cell">Region</div>
      <div class="cell">Email</div>
    </div>
    <div class="row">
      <div class="cell" data-title="Name">{{.Delivery.Name}}</div>
      <div class="cell" data-title="Phone">{{.Delivery.Phone}}</div>
      <div class="cell" data-title="Zip">{{.Delivery.Zip}}</div>
      <div class="cell" data-title="City">{{.Delivery.City}}</div>
      <div class="cell" data-title="Address">{{.Delivery.Address}}</div>
      <div class="cell" data-title="Region">{{.Delivery.Region}}</div>
      <div class="cell" data-title="Email">{{.Delivery.Email}}</div>
    </div>
  </div>

  <h2>Payment</h2>
  <div class="table">
    <div class="row header blue">
      <div class="cell">Transaction</div>
      <div class="cell">Request ID</div>
      <div class="cell">Currency</div>
      <div class="cell">Provider</div>
      <div class="cell">Amount</div>
      <div class="cell">Payment DT</div>
      <div class="cell">Bank</div>
      <div class="cell">Delivery Cost</div>
      <div class="cell">Goods Total</div>
      <div class="cell">Custom Fee</div>
    </div>
    <div class="row">
      <div class="cell" data-title="Transaction">{{.Payment.Transaction}}</div>
      <div class="cell" data-title="Request ID">{{.Payment.RequestID}}</div>
      <div class="cell" data-title="Currency">{{.Payment.Currency}}</div>
      <div class="cell" data-title="Provider">{{.Payment.Provider}}</div>
      <div class="cell" data-title="Amount">{{.Payment.Amount}}</div>
      <div class="cell" data-title="Payment DT">{{.Payment.PaymentDT}}</div>
      <div class="cell" data-title="Bank">{{.Payment.Bank}}</div>
      <div class="cell" data-title="Delivery Cost">{{.Payment.DeliveryCost}}</div>
      <div class="cell" data-title="Goods Total">{{.Payment.GoodsTotal}}</div>
      <div class="cell" data-title="Custom Fee">{{.Payment.CustomFee}}</div>
    </div>
  </div>

  {{if .Items}}
  <h2>Items</h2>
  <div class="table">
    <div class="row header orange">
      <div class="cell">Chrt ID</div>
      <div class="cell">Track Number</div>
      <div class="cell">Price</div>
      <div class="cell">Rid</div>
      <div class="cell">Name</div>
      <div class="cell">Sale</div>
      <div class="cell">Size</div>
      <div class="cell">Total Price</div>
      <div class="cell">Nm ID</div>
      <div class="cell">Brand</div>
      <div class="cell">Status</div>
    </div>
    {{range .Items}}
    <div class="row">
      <div class="cell" data-title="Chrt ID">{{.ChrtID}}</div>
      <div class="cell" data-title="Track Number">{{.TrackNumber}}</div>
      <div class="cell" data-title="Price">{{.Price}}</div>
      <div class="cell" data-title="Rid">{{.RID}}</div>
      <div class="cell" data-title="Name">{{.Name}}</div>
      <div class="cell" data-title="Sale">{{.Sale}}</div>
      <div class="cell" data-title="Size">{{.Size}}</div>
      <div class="cell" data-title="Total Price">{{.TotalPrice}}</div>
      <div class="cell" data-title="Nm ID">{{.NmID}}</div>
      <div class="cell" data-title="Brand">{{.Brand}}</div>
      <div class="cell" data-title="Status">{{.Status}}</div>
    </div>
    {{end}}
  </div>
  {{end}}

</div>
</body>
</html>