@import url(https://fonts.googleapis.com/css?family=Sora:normal);

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

form {
  box-shadow: 0 2px 10px #696969; /* тень: смещение Х и Y, степень размытия, цвет */
  border-radius: 10px;              /* радиус закругления рамки */
  letter-spacing: 1px;
  padding: 32px;                    /* внутренний отступ */
  width: 300px;
}

h1 {
  font-family: sora;
  font-weight: medium; /* убираем жирный шрифт */
  letter-spacing: 0.4px;
  margin: 0 0 32px 0;  /* внешний отступ со всех сторон */
  text-align: center;
}

.input_div {
  margin-bottom: 32px; /* внешний отступ снизу */
  position: relative;  /* положение относительно исходного места */
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: sora;
  font-size: 18px;
  outline: none;
  padding: 0 0 10px 0;
  transition: 0.3s;
  width: 100%;
}

button {
  background-color: #0071f0;
  border: none;                /* без рамки */
  border-radius: 20px;
  color: #fff;
  cursor: pointer;             /* тип курсора при наведении */
  font-size: 14px;
  letter-spacing: 0.5px;
  outline: none;               /* без внешней границы */
  padding: 10px 10px;
  transition: 0.3s;            /* плавные переходы */
  width: 300px
}