body {
  background: #2b2b2b;
  color: #3b3b3b;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0 0 35px 0
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;

  &.with_indent {
    margin-top: 60px;
  };
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding: 40px;
}

.table {
  display: table-caption;
  margin: 0 40px 0 0;
  width: 100%;
}

.row {
  background: #f6f6f6;
  display: table-row;
  
  &:nth-of-type(odd) {
    background: #e9e9e9;
  };
  
  &.header {
    background: #ea6153;
    color: #ffffff;
    font-weight: 900;
  };
  
  &.green {
    background: #27ae60;
  };
  
  &.blue {
    background: #2980b9;
  };

  &.orange {
    background: #afa500;
  };
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}